<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>homepage</title>
    <link rel="stylesheet" href="./stylesheets/homepage.css">
    <link rel="stylesheet" href="./stylesheets/homepage-col1.css">
    <link rel="stylesheet" href="./stylesheets/homepage-col2.css">
    <link rel="stylesheet" href="./stylesheets/homepage-col3.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/popUpStyle.css">
    <script type="text/javascript" src="./js/homepage.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDExmNByjoDRWwhPmJyTzUN35I_clOUpLI&libraries=places&callback=initMap&language=en&reigion=CA"
    async defer></script>
  </head>
  <body>
      <div class="wrapper">
        <div class="mainbody">

          <div class="navbar">
            <div class="navbar-home">
              <a class="navbar-home-icon" href="./homepage.html">
                <img src="./images/house.svg" alt="">
              </a>
              <button class="navbar-home-logout" name="logout" onclick="window.location.href='./huntvan.html'">Logout</button>
            </div>

          </div>

          <!-- 左部用户界面 -->
          <div class="col1">
            <div class="col1-follower-box">
              <div class="col1-follower-box-user-info-wrapper">
                <div class="col1-follower-box-user-icon">
                    <img src="./images/user-icon.png" >
                </div>
                <div class="col1-follower-box-user-name">
                  <p class="col1-user-text-name"><%= username %></p>
                  <p class="col1-user-text-email"><%= email %></p>
                </div>
                <div class="col1-follower-box-toolbar row">
                  <div class="col1-follower-box-toolbar-col1">
                    <a href="./404pagenotfound.html">
                      <span class="col1-posts-toolbar-title">Posts</span>
                      <span class="col1-posts-toolbar-count">1</span>
                    </a>
                  </div>
                  <div class="col1-follower-box-toolbar-col2">
                    <a href="./404pagenotfound.html">
                      <span class="col1-posts-toolbar-title">Following</span>
                      <span class="col1-posts-toolbar-count">2</span>
                    </a>
                  </div>
                  <div class="col1-follower-box-toolbar-col3">
                    <a href="./404pagenotfound.html">
                      <span class="col1-posts-toolbar-title">Follower</span>
                      <span class="col1-posts-toolbar-count">3</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col1-follower-box-banner">
                <img src="./images/mod.png" >
              </div>
            </div>

            <!-- 导航栏 -->
            <div class="col1-navbar">
                <br> <a href="./404pagenotfound.html"><button class="col1-navbar-content">Restaurant</button></a><br><br>
                <a href="./404pagenotfound.html"><button class="col1-navbar-content">Café</button></a><br><br>
                <a href="./404pagenotfound.html"><button class="col1-navbar-content">Store</button></a><br><br>
                <a href="./404pagenotfound.html"><button class="col1-navbar-content">Fun</button></a><br><br>
                <a href="./404pagenotfound.html"><button class="col1-navbar-content">Park</button></a><br><br>
                <a href="./404pagenotfound.html"><button class="col1-navbar-content">Travel</button></a><br><br>
                <a href="./404pagenotfound.html"><button class="col1-navbar-content">Other</button></a><br><br>
                <a href="./404pagenotfound.html"><button class="col1-navbar-content-button">Post</button></a>
            </div>
          </div>
          <!-- 左部结束 -->


          <!-- 中间发帖和帖子 -->
          <div class="col2">

            <form class="" action="/postitem" method="post" enctype="multipart/form-data">


            <!-- 发帖 -->
            <div class="col2-post">

              <!-- username -->
              <input type="hidden" name="username" value = <%= username %>>
              <input type="hidden" name="email" value = <%= email %>>

              <!-- 发帖人物头像 -->
              <div class="col2-post-icon">
                <img src="./images/user-icon.png" >
              </div>

              <!-- 发帖输入格 -->
              <div class="col2-post-text">
                <textarea id="col2-post-text-title" maxlength="100" placeholder="Title" name = "title"></textarea>
                <textarea id="col2-post-text-container" maxlength="" placeholder="What's new" name = "post_text"></textarea>

              </div>

              <!-- 发帖工具栏 -->
              <div class="col2-post-toolbar">
                  <div class="col2-post-toolbar-button" style="cursor: pointer">
                    <input type="file" id="btn-1" style="display:none" onchange="submitimg(this)" accept="image/png, image/jpeg, image/gif, image/jpg" name ="photo">
                    <img src="./images/folder.svg" onclick="openImage()">
                  </div>

                  <div class="col2-post-toolbar-button">
                    <img src="./images/placeholder.svg">
                    <input id="col2-post-toolbar-autocomplete" placeholder="Enter a city" type="text" name="place">
                  </div>

                  <div class="col2-post-toolbar-button">
                    <img src="./images/money.svg">
                    <select id="col2-post-toolbar-button-select" name = "budget">
                      <option value ="$">$</option>
                      <option value ="$$">$$</option>
                      <option value="$$$">$$$</option>
                      <option value="$$$$">$$$$</option>
                      <option value="$$$$$">$$$$$</option>
                    </select>
                  </div>


                  <div class="col2-post-toolbar-button">
                    <input class="col2-post-toolbar-post" type="submit" onclick="printText()" value="Post">
                  </div>
              </div>
              <img src="" id="col2-post-text-image">

            </div>
            </form>


            <!-- 帖子 -->
            <div class="col2-posts">
              <!-- 空行 -->
              <div class="col2-posts-space"></div>


              <!-- db 贴子 -->

              <%
                rows.forEach(function(r){
              %>
              <% r.id %>
              <% r.post_user %>
              <% r.post_text %>
              <% r.image_name %>
              <% r.location %>
              <% r.budget %>

              <div class="col2-posts-content">
                <!-- 贴主信息 -->
                <div class="col2-posts-author">
                  <div class="col2-posts-author-icon">
                    <img src="./images/user-icon.png" >
                  </div>
                  <div class="col2-posts-author-info">
                    <span class="col2-posts-author-info-name"><%= r.post_user %></span>
                    <span class="col2-posts-author-info-email"><%= r.post_email %></span>
                  </div>
                </div>

                <!-- 主体 -->

                <div class="col2-posts-main">
                  <img class = "photo" id="p1" src=<%= r.image_name %> alt="">
                    <h4>
                      <%= r.post_text %>
                    </h4>
                </div>

                <!-- 地区 -->
                <div class="col2-posts-content-info">
                  <a href="googlemapapi/labattoir.html"><span class="col2-posts-content-info-left"><%= r.location %></span></a>
                  <span class="col2-posts-content-info-right"><%= r.budget %></span>
                </div>

                <!-- 工具栏 -->
                <div class="col2-posts-toolbar">
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/chat-1.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/like.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/star.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/share.svg">
                  </div>
                </div>

                <div class="commentsfromdb">


                <% for (let j = 0; j < commentrows.length; j++){ %>

                    <% if (r.id ==  commentrows[j].post_id){ %>
                      <p class="col2-posts-author-info-name" style="margin-left:10px"><%= commentrows[j].comment_person %></p><br>
                      <h4 class="col2-posts-author-info-email" style="margin-left:12px"><%= commentrows[j].content %></h4><br>

                  <%  } %>

                    <% } %>

                  </div>

                <form class="" action="/commend" method="post" id="popUpComment">
                <input type="hidden" name="postid" id ="postp" value=<%= r.id %>>
                <input type="hidden" name="comment_email" value=<%= email %>>
                <textarea id="col2-post-text-title" name="p_comment"></textarea>
                <input class = "" type="image" src="send.png" alt="submit" id="send" style="margin-left:650px"></button>



                </form>




                <div class="modal" id="cover">


                      <input type="hidden" name="postid" id="changeid" value="">
                      <div class="container" id="cover_container">
                        <div id="left">
                            <img src=# alt="" id="photoInLeft">
                        </div>
                        <div id="right">
                            <div class="poster" id="poster">
                              <div id="posterInfo1">
                                  <img src="./images/user-icon.png" alt="" id="icon">
                                  <!-- 需要渲染poster的icon -->
                              </div>
                              <div class="" id="posterName">
                                  <h5 id="posterNameText" >

                                        <%= r.id %>
                                      <!-- 需要渲染poster的id 默认404 Not Found-->
                                  </h5>
                              </div>
                              <div class="" id="follow">
                                <img src="" alt="" id="followStatu">
                                <!-- 需要渲染poster的follow状态 -->
                              </div>
                            </div>
                            <div class="" id="contentOfPost">


                                <!-- show contentOfPost from the database -->
                            </div>
                            <div class="popUpCommentData" id="popUpCommentData">




                                <!-- show comments from the database -->
                            </div>
                            <div class="comment">


                                    <div class="" id="likeAndSend">
                                        <img class="" src="notliked.png" alt="" id="heart">
                                        <!-- 需要渲染，默认未点赞！！！ -->
                                        <input class = "" type="image" src="send.png" alt="submit" id="send"></button>
                                        <!-- 代替submit按钮 -->
                                    </div>

                                    <div class="" id="popUpText">
                                        <textarea id="popUpText" name="p_comment"></textarea>
                                    </div>
                            </div>
                        </div>
                      </div>
                  </div>




                    <script src="popup.js">

                    </script>



              </div>



                <% }); %>

              <!-- 帖子1 -->
              <div class="col2-posts-content">
                <!-- 贴主信息 -->
                <div class="col2-posts-author">
                  <div class="col2-posts-author-icon">
                    <img src="./images/user-icon.png" >
                  </div>
                  <div class="col2-posts-author-info">
                    <span class="col2-posts-author-info-name">user1</span>
                    <span class="col2-posts-author-info-email">@email</span>
                  </div>
                </div>

                <!-- 主体 -->
                <div class="col2-posts-main">
                  <img src="./images/abattoir.jpg" alt="">
                    <h4>
                      A lovely restaurant you should not miss!
                    </h4>
                </div>

                <!-- 地区 -->
                <div class="col2-posts-content-info">
                  <a href="googlemapapi/labattoir.html"><span class="col2-posts-content-info-left">L'Abattoir</span></a>
                  <span class="col2-posts-content-info-right">$$$</span>
                </div>

                <!-- 工具栏 -->
                <div class="col2-posts-toolbar">
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/chat-1.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/like.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/star.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/share.svg">
                  </div>
                </div>
              </div>

              <!-- 帖子2 -->
              <div class="col2-posts-content">
                <!-- 贴主信息 -->
                <div class="col2-posts-author">
                  <div class="col2-posts-author-icon">
                    <img src="./images/user-icon.png" >
                  </div>
                  <div class="col2-posts-author-info">
                    <span class="col2-posts-author-info-name">user2</span>
                    <span class="col2-posts-author-info-email">@email</span>
                  </div>
                </div>

                <!-- 主体 -->
                <div class="col2-posts-main">
                  <img src="./images/northvan.jpg" alt="">
                    <h4>
                      A cute place to view the downtown sight!
                    </h4>
                </div>

                <!-- 地区 -->
                <div class="col2-posts-content-info">
                  <a href="googlemapapi/burraddrydock.html"><span class="col2-posts-content-info-left">Burrard Dry Dock</span></a>
                  <span class="col2-posts-content-info-right">$</span>
                </div>

                <!-- 工具栏 -->
                <div class="col2-posts-toolbar">
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/chat-1.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/like.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/star.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/share.svg">
                  </div>
                </div>
              </div>

              <!-- 帖子3 -->
              <div class="col2-posts-content">
                <!-- 贴主信息 -->
                <div class="col2-posts-author">
                  <div class="col2-posts-author-icon">
                    <img src="./images/user-icon.png" >
                  </div>
                  <div class="col2-posts-author-info">
                    <span class="col2-posts-author-info-name">user3</span>
                    <span class="col2-posts-author-info-email">@email</span>
                  </div>
                </div>

                <!-- 主体 -->
                <div class="col2-posts-main">
                  <img src="./images/whytecliff.jpg" alt="">
                    <h4>
                      You can climb rock and watch seal in this park!
                    </h4>
                </div>

                <!-- 地区 -->
                <div class="col2-posts-content-info">
                  <a href="googlemapapi/whytecliffpark.html"><span class="col2-posts-content-info-left">Whytecliff Park</span></a>
                  <span class="col2-posts-content-info-right">$</span>
                </div>

                <!-- 工具栏 -->
                <div class="col2-posts-toolbar">
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/chat-1.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/like.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/star.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/share.svg">
                  </div>
                </div>
              </div>


              <!-- 帖子4 -->
              <div class="col2-posts-content">
                <!-- 贴主信息 -->
                <div class="col2-posts-author">
                  <div class="col2-posts-author-icon">
                    <img src="./images/user-icon.png" >
                  </div>
                  <div class="col2-posts-author-info">
                    <span class="col2-posts-author-info-name">user4</span>
                    <span class="col2-posts-author-info-email">@email</span>
                  </div>
                </div>

                <!-- 主体 -->
                <div class="col2-posts-main">
                  <img src="./images/chinesebbq.jpg" alt="">
                    <h4>
                      Come and try this mouth watering Chinese BBQ!
                    </h4>
                </div>

                <!-- 地区 -->
                <div class="col2-posts-content-info">
                  <a href="googlemapapi/chinatownbbq.html"><span class="col2-posts-content-info-left">Chinatown BBQ</span></a>
                  <span class="col2-posts-content-info-right">$</span>
                </div>

                <!-- 工具栏 -->
                <div class="col2-posts-toolbar">
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/chat-1.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/like.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/star.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/share.svg">
                  </div>
                </div>
              </div>

              <!-- 帖子5 -->
              <div class="col2-posts-content">
                <!-- 贴主信息 -->
                <div class="col2-posts-author">
                  <div class="col2-posts-author-icon">
                    <img src="./images/user-icon.png" >
                  </div>
                  <div class="col2-posts-author-info">
                    <span class="col2-posts-author-info-name">user4</span>
                    <span class="col2-posts-author-info-email">@email</span>
                  </div>
                </div>

                <!-- 主体 -->
                <div class="col2-posts-main">
                  <img src="./images/garibaldi.jpg" alt="">
                    <h4>
                      A must go hiking resort with 2 hour drive from vancouver.
                    </h4>
                </div>

                <!-- 地区 -->
                <div class="col2-posts-content-info">
                  <a href="googlemapapi/marinedrive.html"><span class="col2-posts-content-info-left">Marine Drive</span></a>
                  <span class="col2-posts-content-info-right">$</span>
                </div>

                <!-- 工具栏 -->
                <div class="col2-posts-toolbar">
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/chat-1.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/like.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/star.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/share.svg">
                  </div>
                </div>
              </div>

              <!-- 帖子6 -->
              <div class="col2-posts-content">
                <!-- 贴主信息 -->
                <div class="col2-posts-author">
                  <div class="col2-posts-author-icon">
                    <img src="./images/user-icon.png" >
                  </div>
                  <div class="col2-posts-author-info">
                    <span class="col2-posts-author-info-name">11111111111111</span>
                    <span class="col2-posts-author-info-email">@email</span>
                  </div>
                </div>

                <!-- 主体 -->
                <div class="col2-posts-main">
                  <img src="./images/porsche.jpg" alt="">
                    <h4>
                      Don't miss the upcoming Porshce meet up this Father's Day!
                    </h4>
                </div>

                <!-- 地区 -->
                <div class="col2-posts-content-info">
                  <a href="googlemapapi/garibaldilake.html"><span class="col2-posts-content-info-left">Garibaldi Lake</span></a>
                  <span class="col2-posts-content-info-right">$</span>
                </div>

                <!-- 工具栏 -->
                <div class="col2-posts-toolbar">
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/chat-1.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/like.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/star.svg">
                  </div>
                  <div class="col2-posts-toolbar-button">
                    <img src="./images/share.svg">
                  </div>
                </div>
              </div>

              <!-- sample end -->

            </div>
            <!-- 帖子结束 -->
          </div>
          <!-- 中间结束 -->


          <!-- 右部推荐栏 -->
          <div class="col3">
            <!-- 搜索栏 -->
              <form class="search" action="./404pagenotfound.html" method="get">
                  <input class="search-container" type="text" id="search" placeholder="Search post">
              </form>

              <!-- 推荐帖子 -->
              <div class="news-box">
                <div class="news-box-title">
                  <span class="news-box-title-name">What’s happening</span>
                </div>

                <!-- event1 -->
                <div class="news-box-content">
                  <h4 class="news-box-content-event">A lovely restaurant you should not miss!</h4>
                </div>

                <!-- event2 -->
                <div class="news-box-content">
                  <h4 class="news-box-content-event">A cute place to view the downtown sight!</h4>
                </div>

                <!-- event3 -->
                <div class="news-box-content">
                  <h4 class="news-box-content-event">You can climb rock and watch seal in this park!</h4>
                </div>

                <!-- event4 -->
                <div class="news-box-content">
                  <h4 class="news-box-content-event">Come and try this mouth watering Chinese BBQ!</h4>
                </div>

                <!-- event5 -->
                <div class="news-box-content">
                  <h4 class="news-box-content-event">A must go hiking resort with 2 hour drive from vancouver.</h4>
                </div>
                <!-- events end -->

                <div class="news-box-more">
                  <a href="//www.baidu.com/"><button class="news-box-more-text">Show more</button></a>
                </div>
              </div>

              <!-- 推荐关注 -->
              <div class="recommend-box">
                <div class="recommend-box-title">
                  <span class="recommend-box-title-name">Who to follow</span>
                </div>

                <!-- people1 -->
                <div class="recommend-box-content">
                    <div class="recommend-box-content-people">
                      <div class="recommend-box-content-people-icon">
                        <img src="./images/user-icon.png" >
                      </div><br>
                      <span class="recommend-box-content-people-name">User1</span> <br>
                      <span class="recommend-box-content-people-email">email</span> <br>
                      <span class="recommend-box-content-people-follow">Follow</span> <br>
                    </div>
                </div>

                <!-- people2 -->
                <div class="recommend-box-content">
                    <div class="recommend-box-content-people">
                      <div class="recommend-box-content-people-icon">
                        <img src="./images/user-icon.png" >
                      </div><br>
                      <span class="recommend-box-content-people-name">User2</span> <br>
                      <span class="recommend-box-content-people-email">12222222222222</span> <br>
                      <span class="recommend-box-content-people-follow">Follow</span> <br>
                    </div>
                </div>

                <!-- people3 -->
                <div class="recommend-box-content">
                    <div class="recommend-box-content-people">
                      <div class="recommend-box-content-people-icon">
                        <img src="./images/user-icon.png" >
                      </div><br>
                      <span class="recommend-box-content-people-name">sample Testttttttt</span> <br>
                      <span class="recommend-box-content-people-email">1</span> <br>
                      <span class="recommend-box-content-people-follow">Follow</span> <br>
                    </div>
                </div>

                <!-- people4 -->
                <div class="recommend-box-content">
                    <div class="recommend-box-content-people">
                      <div class="recommend-box-content-people-icon">
                        <img src="./images/Quin.jpg" >
                      </div><br>
                      <span class="recommend-box-content-people-name">Mr.Quin</span> <br>
                      <span class="recommend-box-content-people-email">mrquin33@live.com</span> <br>
                      <span class="recommend-box-content-people-follow">Follow</span> <br>
                    </div>
                </div>
                <!-- sample end -->


                <div class="recommend-box-more">
                  <a href="//www.baidu.com/"><button class="recommend-box-more-text">Show more</button></a>
                </div>
              </div>
          </div>
          <!-- 右部推荐栏结束 -->
        </div>
      </div>
  </body>
</html>
